
section.list-container {
  position: relative;

  border: 1px solid #3f4448;
  box-shadow: 0 0 2px 1px #3f4448;

  background: #24292e;
  border-radius: 4px;
  color: white;
  margin: 0 30px;
  margin-bottom: auto;
}

.list-container h1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate( -16px, -50% );

  width: calc( 100% + 32px );

  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  padding: 6px 24px;
  border-radius: 4px 4px 0 0;
}


.list-container h1::before,
.list-container h1::after {
  content: '';
  position: absolute;
  top: 100%;
  filter: brightness(0.8);
  border: 8px solid transparent;
}

.list-container h1::before {
  left: 0;
}

.list-container h1::after {
  right: 0;
}



h1.to-do {
  background: var(--todo);
}

h1.to-do::before, h1.to-do::after {
  border-top-color: var(--todo);
}

h1.to-do:before {
  border-right-color: var(--todo);
}

h1.to-do::after {
  border-left-color: var(--todo);
}




h1.in-progress {
  background: var(--progress);
}

h1.in-progress::before, h1.in-progress::after {
  border-top-color: var(--progress);
}

h1.in-progress:before {
  border-right-color: var(--progress);
}

h1.in-progress::after {
  border-left-color: var(--progress);
}



h1.done {
  background: var(--done);
}

h1.done::before,  h1.done::after {
  border-top-color: var(--done);
}

h1.done:before {
  border-right-color: var(--done);
}

h1.done::after {
  border-left-color: var(--done);
}



.list-container ul {
  display: grid;
  grid-template-columns: repeat( 3, minmax( auto, var(--post-it-size) ) );

  list-style: none;
  padding: 40px 16px 30px 16px;
}

.list-container ul.drag-enter {
  background: #181a1d;
}
